.auth-layout {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.login-card {
  position: absolute;
  width: inherit;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.registration-content {
  height: 100%;
  overflow-y: auto;
  // border: 1px solid red;
  .registration-form {
    max-width: 600px;
    // border: 1px solid red;
    margin: 0 auto;
    overflow-x: auto;
  }
}
